*.root
# Calibration/analysis macros to ignore
eventselection_bic.C
Data/*
!Data/
Sim/*
!Sim/
energy_calibration_output/*
!energy_calibration_output/
calibration_constant_output/*
!calibration_constant_output/